body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F401%2F390%2Foriginal%2Fvector-background-wallpaper-with-polygons-in-gradient-colors.jpg&f=1&nofb=1");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.frosty-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(7px);
  z-index: -1;
}

.frosty-background {
  background: inherit;
  z-index: -2;
}

.frosty-background:before {
  background: inherit;
}

#app {
  width: 85%;
  height: 85%;
}

.main-div-holder {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

table,
tr {
  --bs-border-color: #000;
}

.cursor-pointer {
  cursor: pointer;
}

.form-control {
  background-color: #333739 !important;
  border-color: #0f1111 !important;
  color: #fff !important;
}
